
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #AAAAAA;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #727272;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.header__inner{
    display: flex;
    .header__span{
        transform: rotate(-90deg);
        margin-top: 150px;
        margin-bottom: 0;
        height: 40px;
        a{
            text-decoration: none;
        }
        b{
            margin-left: 50px;
            color: #FAFAFA;
        }
    }
    .header__head{
        span{
            h6{
                margin-bottom: 0;
                font-size: 23px;
            }
            img{
                margin-bottom: 0;
            }
        }
        h2{
            font-size: 70px;
            width: 450px;
            margin-top: 10px;
            color: #DCCA87;
            margin-bottom: 0;
        }
        p{
            color: #AAAAAA;
            width: 450px;
            font-size: 16px;
        }
        button{
            width: 150px;
            height: 40px;
            background-color: #DCCA87;
            color: #0C0B08;
                border: none;
                text-align: center;
        }
    }


    .hero__img{
        width: 450px;
        margin-left: 50px;
    }
}


.main{
    background: url(../../../image/element.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 5.5%;
}
.main__inner{
    width: 100%;
    background-image: url(../../../image/BG.jpg);
    height: 650px;
    padding-top: 100px;
    .container{
        width: 1440px;
        margin: 0 auto;
        .main__list{
            display: flex;
            
            background-image: url(../../../image/G.svg);
            background-repeat: no-repeat;
            background-position: 40%;
        }
        .inner__left{
            text-align: end;
            padding-right: 80px;
            h3{
                font-size: 56px;
                color: #DCCA87;
                margin-bottom: 0;
            }
            img{
                transform: rotate(180deg);
                width: 60px;
            }
            p{
                width: 500px;
                font-size: 16px;
                color: #AAAAAA;
            }
            button{
                width: 150px;
                height: 40px;
                background-color: #DCCA87;
                border: none;
                color: #0C0C0C  ;
            }
        }
        .pichoq{
            height: 450px;
        }
        .inner__right{
            text-align: start;
            padding-left: 80px;
            h3{
                font-size: 56px;
                color: #DCCA87;
                margin-bottom: 0;
            }
            img{
                width: 60px;
            }
            p{
                width: 500px;
                font-size: 16px;
                color: #AAAAAA;
            }
            button{
                width: 150px;
                height: 40px;
                background-color: #DCCA87;
                color: #0C0C0C  ;
                border: none;
            }
        }
    }
}

.main__table{
    position: relative;
    &::after{
        content: url(../../../image/delight.png);
        position: absolute;
        right: 50px;
        top: -50px;
    }
    .container{
        .table__inner{
            border: 1px solid rgba(220, 202, 135, 0.2);
            background: #0C0C0C;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 100px;
            h6{
                margin-top: 30px;
                margin-bottom: 10px;
                color: #DCCA87;
            }
            img{
                margin-top: 0;
                margin-bottom: 0;
            }
            h2{
                font-size: 50px;
                margin-top: 1px;
                color: #DCCA87;
                margin-bottom: 50px;
            }
            div{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 30px;
                select{
                    width: 30%;
                    background-color: transparent;
                    border: 1px solid rgba(220, 202, 135, 0.2);
                    color: #DCCA87;
                    outline: none;
                    height: 50px;
                    option{
                        background-color: #0C0C0C;
                        font-size: 20px;
                        color: #DCCA87;
                        border: none;
                        &:hover{
                            background-color: #DCCA87;
                            color: #0C0B08;
                        }
                    }
                }
                div{
                    width: 30%;
                    background-color: transparent;
                    border: 1px solid rgba(220, 202, 135, 0.2);
                    color: #DCCA87;
                    outline: none;
                    height: 50px;
                    margin-top: 0;
                    align-items: center;
                    h4{
                        color: #DCCA87;
                    }
                }
            }
            button{
                width: 300px;
                height: 50px;
                background-color: #DCCA87;
                color: #0C0C0C;
                border: none;
                margin-bottom: 60px;
            }
        }
    }
}

.main__menu{
    background: url(../../../image/viski.jpg);
    background-size: 100%;
    background-position: 100%;
    height: 900px;
    .container{
        position: relative;
        .menu__inner{
            &::before{
                content: url(../../../image/delight.png);
                position: absolute;
                top: -40px;
                left: 100px;
            }
            h2{
                font-size: 70px;
                margin-top: 160px;
                &:hover{
                    text-decoration: underline;
                    
                }
            }
        }
    }
}

.main__today{
    .container{
        .today__inner{
            margin-top: 100px;
            text-align: center;
            margin-bottom: 150px;
            h6{
                font-size: 18px;
            }
            h2{
                font-size: 50px;
                color: #DCCA87;
            }
            div{
                display: flex;
                div{
                    display: block;
                    width: 412px;
                    h3{
                        font-size: 45px;
                    }
                    div{
                        display: flex;
                        align-items: center;
                        height: 30px;
                        justify-content: space-between;
                        h5{
                            font-size: 23px;
                            color: #DCCA87;
                        }
                        h6{
                            font-size: 23px;
                            position: relative;
                            &::before{
                                content: '';
                                width: 300%;
                                padding: 1px;
                                top: 15px;
                                background-color: #FAFAFA;
                                position: absolute;
                                left: -150px;
                            }
                        }
                    }
                    p{
                        font-size: 16px;
                        color: #AAAAAA;
                        text-align: start;
                        margin-top: 10px;
                        margin-bottom: 50px;
                    }
                }
                img{
                    width: 444px;
                    height: 659px;
                    object-fit: cover;
                    margin: 0 20px;
                }
            }

            button{
                width: 300px;
                height: 50px;
                background-color: #DCCA87;
                color: #0C0C0C;
                font-size: 20px;
                margin-top: 50px;
            }
        }
    }
}

.main_kareys{
    color: #FAFAFA;
    background-image: url(../../../image/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    .container{
        position: relative;
        &::after{
            content: url(../../../image/qayci.png);
            position: absolute;
            right: 0px;
            bottom: -200px;
        }
    }
    .main_kabox{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .main_katext{
            margin-left: 80px;
            h6{
                font-size: 23px;
                margin-bottom: 15px;
            }
            h2{
                margin-top: 0;
                font-size: 64px;
                color: #DCCA87;
                
            }
            p{
                span{
                    width: 47px;
                    height: 40px;
                    margin-right: 10px;
                }
                font-size: 16px;
            }
            h5{
                font-size: 32px;
                color: #DCCA87;
                margin-bottom: 0;
            }
            h6{
                color: #AAAAAA;
                margin-top: 0;
                font-size: 16px;
            }
            .kevin{
                font-family: 'Great Vibes';
                color: #AAAAAA;
                margin-top: 70px;
            }
        }
    }
}

.customers{
    .container{
        .customers__inner{
            text-align: center;
            h2{
                color: #DCCA87;
                font-size: 64px;
                margin-top: 0;
            }
            .happy__list{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .happy__item{
                    text-align: start;
                    width: 45%;
                    display: flex;
                    justify-content: space-evenly;
                    margin-bottom: 80px;
                    .odam1{
                        margin-right: 20px;
                        position: relative;
                        img{
                            &:nth-child(2){
                                position: absolute;
                                bottom: -10px;
                                right: -25px;
                            }
                        }
                    }
                    div{
                        p{
                            color: #AAAAAA;
                        }
                        h3{
                            color: #DCCA87;
                            margin-top: 16px;
                            margin-bottom: 4px;
                        }
                        h5{
                            color: #FAFAFA;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}

.video{
    .container{
        div{
            position: relative;
            &::before{
                content: url(../../../image/qayci.png);
                position: absolute;
                top: 100px;
                left: 100px;
            }
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}

.laurels{
    background-image: url(../../../image/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        .laurels__inner{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .ovqa{
                position: relative;
                &::before{
                    content: url(../../../image/G.png);
                    position: absolute;
                    bottom: 100px;
                    left: -80px;
                }
                .ovqat{
                    margin: 100px 0;
                }
            }
            div{
                h4{
                    font-size: 16px;
                    margin-bottom: 0;
                }
                h2{
                    margin-top: 10px;
                    color: #DCCA87;
                    font-size: 32px;
                }
                ul{
                    list-style-type: none;
                    padding-left: 0;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    li{
                        width: 50%;
                        display: flex;
                        align-items: center;
                        img{
                            margin-top: 30px;
                            object-fit: contain;
                        }
                        span{
                            margin-left: 20px;
                            h6{
                                font-size: 22px;
                                color: #DCCA87;
                                margin-bottom: 0;
                            }
                            p{
                                margin-top: 0;
                                width: 85%;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.blogs{
    .container{
        position: relative;
        &::after{
            content: url(../../../image/qayci.png);
            position: absolute;
            right: -50px;
            bottom: 100px;
        }
        .blogs__inner{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 100px 0;
            h4{
                margin: 0;
                padding: 0;
                margin-bottom: 10px;
                font-size: 23px;
            }
            h2{
                margin: 8px 0 0;
                font-size: 64px;
                color: #DCCA87;
            }
            ul{
                display: flex;
                list-style-type: none;
                justify-content: space-between;
                padding-left: 0;
                align-items: center;
                li{
                    width: 400px;
                    margin: 20px;
                    img{
                        width: 400px;
                        height: 400px;
                        padding: 0 9px;
                    }
                    span{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 12px;
                        font-size: 16px;
                        h5{
                            letter-spacing: 4%;
                            line-height: 28px;
                        }
                    }
                    h3{
                        margin-top: 32px;
                        padding: 0 12px;
                        color: #DCCA87;
                        font-size: 32px;
                        &:hover{
                            text-decoration: underline 2px;
                            cursor: pointer;
                        }
                    }
                    p{
                        color: #AAAAAA;
                        font-size: 16px;
                        line-height: 28px;
                        padding: 0 12px;
                        margin-top: 32px;
                    }
                    a{
                        color: #DCCA87;
                        text-decoration: none;
                        padding: 0 6px;
                    }
                }
            }
            button{
                padding: 8px 32px;
                background: #DCCA87;
                color: #0C0C0C;
                font-size: 16px;
                margin-top: 64px;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                &:hover{
                    border: 1px solid #AAAAAA;
                }
            }
        }
    }
}

.instagram{
    background: url(../../../image/insta_BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        position: relative;
        &::after{
            content: url(../../../image/qayci.png);
            position: absolute;
            left: -50px;
            bottom: -70px;
        }
        .insta__inner{
            margin: 100px 0;
            ul{
                display: flex;
                list-style-type: none;
                align-items: center;
                padding-left: 0;
                justify-content: space-between;
                position: relative;
                li{
                    &:nth-child(1){
                        width: 430px;
                        h4{
                            font-size: 16px;
                            margin: 0;
                            margin-bottom: 10px;
                        }
                        h2{
                            font-size: 64px;
                            color: #DCCA87;
                            margin: 0;
                        }
                        p{
                            margin-top: 24px;
                            margin-bottom: 24px;
                            letter-spacing: 4%;
                            line-height: 28px;
                            color: #AAAAAA;
                        }
                        button{
                            padding: 8px 32px;
                            font-size: 16px;
                            background: #DCCA87;
                            color: #0C0C0C;
                        }
                    }
                    &:nth-child(2){
                        width: 810px;
                        overflow: hidden;
                        ul{
                            width: 1620px;
                            padding-left: 0;
                            li{
                                width: 250px;
                                margin: 10px;
                                img{
                                    width: 250px;
                                }
                                &:nth-child(2){
                                    width: 250px;
                                    overflow: inherit;
                                }
                            }
                        }
                    }
                }
                b{
                    position: absolute;
                    button{
                        background-color: #DCCA87;
                        border: 1px solid #0C0C0C;
                        color: #FAFAFA;
                        font-size: 22px;
                        padding: 20px 10px;
                        cursor: pointer;
                        transition: 0.1s ease-in-out;
                        &:nth-child(1){
                            position: absolute;
                            left: 485px;
                        }
                        &:nth-child(2){
                            position: absolute;
                            left: 1340px;
                        }
                        &:active{
                            transform: scale(0.9);
                        }
                    }
                }
                .back{
                    background-color: #AAAAAA;
                }
            }
        }
    }
}

.newsletter{
    z-index: 1;
    .container{
        .news__inner{
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #0C0C0C;
            border: 1px solid rgba(220, 202, 135, 0.2);
            box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
            margin: 150px 0 0;
            h4{ 
                margin-top: 64px;
                margin-bottom: 10px;
            }
            
            h2{
                font-size: 64px;
                color: #DCCA87;
                text-transform: capitalize;
                margin-top: 8px;
                margin-bottom: 0;
            }
            p{
                color: #FAFAFA;
                font-size: 16px;
            }
            form{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 64px;
                input{
                    width: 635px;
                    height: 40px;
                    border: 1px solid rgba(220, 202, 135, 0.2);
                    background: #0C0C0C;
                    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
                    outline: none;
                    color: #FAFAFA;
                    padding-left: 10px;
                    font-size: 16px;
                }
                button{
                    padding: 8px 32px;
                    font-size: 16px;
                    background: #DCCA87;
                    color: #0C0C0C;
                    border: none;
                    cursor: pointer;
                    margin-left: 40px;
                }
            }
        }
    }
}

.footer{
    background: url(../../../image/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    .container{
        .footer__inner{
            ul{
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                li{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &:nth-child(1){
                        h3{
                            font-size: 32px;
                        }
                        a{
                            font-size: 22px;
                            text-decoration: none;
                            color: #AAAAAA;
                            cursor: pointer;
                            margin: 20px;
                        }
                    }
                    &:nth-child(2){
                        a{
                            text-decoration: none;
                        }
                        h2{
                            font-size: 64px;
                            color: #DCCA87;
                            margin: 0;
                        }
                        h4{
                            width: 440px;
                            text-align: center;
                        }
                        span{
                            margin-top: 30px;
                            i{
                                margin: 20px;
                                font-size: 28px;
                                color: #FAFAFA;
                            }
                        }
                    }
                    &:nth-child(3){
                        h4{
                            font-size: 32px;
                            color: #FAFAFA;
                        }
                        h5{
                            width: 160px;
                            font-size: 16px;
                            margin: 10px;
                            color: #AAAAAA;
                        }
                    }
                }
            }
        }
    }
}