

.main__inner{
    background-image: url(../../../image/BG.jpg);
    margin: 0 -50px;
    padding: 0 100px;
    height: 650px;
    padding-top: 10%;
    position: relative;
    .main__list{
        display: flex;
        
        background-image: url(../../../image/G.svg);
        background-repeat: no-repeat;
        background-position: 50%;
    }
    .inner__left{
        text-align: end;
        padding-right: 80px;
        .left__h3{
            font-size: 56px;
            color: #DCCA87;
            margin-bottom: 0;
        }
        .left__qowiq{
            transform: rotate(180deg);
            width: 60px;
        }
        .left__p{
            width: 500px;
            font-size: 16px;
            color: #AAAAAA;
        }
        .left__button{
            width: 150px;
            height: 40px;
            background-color: #DCCA87;
            color: #0C0C0C  ;
        }
    }
    .pichoq{
        height: 450px;
    }
    .inner__right{
        text-align: start;
        padding-left: 80px;
        .left__h3{
            font-size: 56px;
            color: #DCCA87;
            margin-bottom: 0;
        }
        .right__qowiq{
            width: 60px;
        }
        .right__p{
            width: 500px;
            font-size: 16px;
            color: #AAAAAA;
        }
        .right__button{
            width: 150px;
            height: 40px;
            background-color: #DCCA87;
            color: #0C0C0C  ;
        }
    }
    .inner__qayci{
        position: absolute;
        left: 85%;
        top: 95%;
    } 
}

.main__book{
    border: 1px solid #DCCA87;
    text-align: center;
    padding: 50px;
    margin: 150px 150px;
    h6{
        font-size: 16px;
        margin-bottom: 0;
    }
    img{
        margin-bottom: 0;
    }
    h3{
        font-size: 64px;
        margin-top: 0;
        color: #DCCA87;
    }
    div{
        display: flex;
        justify-content: space-between;
        select{
            width: 30%;
            height: 50px;
            border: 1px solid #DCCA87;
            color: #DCCA87;
            background-color: transparent;
            padding-left: 20px;
            outline: none;
        }
    }
    button{
        margin-top: 50px;
        width: 150px;
        height: 40px;
        background-color: #DCCA87;
        color: #0C0C0C;

    
    }
}