

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 50px;
    color: #fff;
    .logo__inner{
        display: flex;
        justify-content: space-between;
        img{
            width: 200px;
            height: 60px;
        }
        .logo__ul{
            display: flex;
            list-style-type: none;
            li{
                margin-right: 40px;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                &:hover{
                    color: #DCCA87;
                }
            }
            .logo__ul__li1{
                border-right: 1px solid #fff;
                padding-right: 40px;
            }
        }
    }
}